@using System.Runtime.InteropServices
@using UrgentHub.Models.Master
@using UrgentHub.Services
@using System.Security.Claims
@using UrgentHub.ViewModels
@using Microsoft.AspNetCore.Antiforgery
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Deliver Different Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- favicon -->
    <link rel="icon" href="~/images/favicon.ico?5" type="image/x-icon">
    <meta http-equiv="refresh" content="300">
</head>
<body id="@ViewBag.PageId">
    <header>
        @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
        @{
            var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
        }

        @inject ITenantService TenantService
        @{
            var userIdClaim = User.FindFirst("UserID");
            var currentTenantIdClaim = User.FindFirst("CurrentTenantID");
            List<TenantViewModel> tenants = null;
            int? currentTenantId = 0;
            if (userIdClaim != null && int.TryParse(userIdClaim.Value, out int userId))
            {
                var tenantList = await TenantService.GetTenantsForUserAsync(userId);
                tenants = tenantList.Select(o => new TenantViewModel { Id = o.TenantId, Name = o.Name }).ToList();

                if (currentTenantIdClaim != null && int.TryParse(currentTenantIdClaim.Value, out int orgId))
                {
                    currentTenantId = orgId;
                }
            }

        }
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img class="logo" src="~/images/deliverDifferentLogo.png" width="272" height="60" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (tenants != null && tenants.Any())
                        {
                            <li class="nav-item tenant-selector">
                                <span class="tenant-label mr-2">Organization:</span>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="tenantDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @(tenants.FirstOrDefault(t => t.Id == currentTenantId)?.Name ?? "Select Tenant")
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="tenantDropdown">
                                        @foreach (var tenant in tenants)
                                        {
                                            <a class="dropdown-item @(tenant.Id == currentTenantId ? "active" : "")" href="#" data-tenant-id="@tenant.Id">@tenant.Name</a>
                                        }
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "nav-link", @style = "color:#283DB8;" })
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="width:85%; max-width:1500px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted navbar-dark bg-black">
        <div class="container">
            <div class="text">&copy; 2024 - Deliver Different</div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        document.querySelector('.dropdown-menu').addEventListener('click', function (e) {
            if (e.target && e.target.nodeName == 'A') {
                e.preventDefault();
                var selectedTenantId = parseInt(e.target.getAttribute('data-tenant-id'), 10);
                var selectedTenantName = e.target.textContent;

                // Update button text
                document.querySelector('#tenantDropdown').textContent = selectedTenantName;

                // Make an AJAX call to update the current tenant
                fetch('/Account/UpdateCurrentTenant', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'RequestVerificationToken': '@requestToken'
                    },
                    body: JSON.stringify({ tenantId: selectedTenantId })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Optionally reload the page or update other parts of the UI
                            window.location.reload();
                        } else {
                            console.error('Failed to update tenant');
                        }
                    });
            };
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
