@using System.Security.Claims
@using Hub.Services
@{
    ViewData["Title"] = "Home page";
}
@inject ITenantService TenantService
@inject Microsoft.AspNetCore.Mvc.IUrlHelper Url
@{
    var tenantCode = User.FindFirstValue("TenantCode"); 
    var logoPath = TenantService.GetTenantLogoPath(tenantCode);

    // Convert virtual path (~/images/...) to application path (/images/...)
    string resolvedLogoPath = Url.Content(logoPath);

    var clientId = ViewBag.ClientID;
 
    bool clientInternal = false;
    if (ViewBag.ClientInternal != null)
    {
        if (ViewBag.ClientInternal is bool)
        {
            clientInternal = (bool)ViewBag.ClientInternal;
        }
        else
        {
            bool.TryParse(ViewBag.ClientInternal.ToString(), out clientInternal);
        }
    }

    // var clientName = ViewBag.ClientName;
    // var clientCreated = ViewBag.ClientCreated;
    //var clientStripe = ViewBag.ClientStripe;

    var contactId = ViewBag.ContactID;
    // var contactName = ViewBag.ContactName;
    // var contactFullName = ViewBag.ContactFullName;
    // var contactEmail = ViewBag.ContactEmail;
    // var contactCreated = ViewBag.ContactCreated;
    var greetingString = ViewBag.GreetingString;
    // var despatchWebPermission = ViewBag.DespatchWebPermission;

    bool bookJobPermission = false;
    if (ViewBag.BookJobPermission != null)
    {
        if (ViewBag.BookJobPermission is bool)
        {
            bookJobPermission = (bool)ViewBag.BookJobPermission;
        }
        else
        {
            bool.TryParse(ViewBag.BookJobPermission.ToString(), out bookJobPermission);
        }
    }

    bool bulkUploadPermission = false;
    if (ViewBag.BulkUploadPermission != null)
    {
        if (ViewBag.BulkUploadPermission is bool)
        {
            bulkUploadPermission = (bool)ViewBag.BulkUploadPermission;
        }
        else
        {
            bool.TryParse(ViewBag.BulkUploadPermission.ToString(), out bulkUploadPermission);
        }
    }
}
<script>
var ClientID = '@clientId';
    var ContactID = '@contactId';
    var GreetingString = '@greetingString';
</script>

<div class="text-center">
    <img style="padding-bottom:8px;" class="logo" src="@resolvedLogoPath" width="541" height="120" />
    <h4 style="color: #283DB8; ">App Hub</h4>
</div>

<div id="urgent-hub">
    <div class="dash-boxes container-fluid">
        @if (!clientInternal)
        {
            <!-- External-only apps (clientInternal = false) -->
            <div class="row">
                @if (bookJobPermission)
                {
                    <div class="col-sm-4">
                        <div class="dash-box icon" onclick="window.open('@Environment.GetEnvironmentVariable("TenantURL").Replace("app_name", "booking")' + '/#/login/')">
                            <i class="fas fa-atlas"></i>
                            <div class="text">Booking Page</div>
                        </div>
                    </div>
                }
                @if (bulkUploadPermission)
                {
                    <div class="col-sm-4">
                        <div class="dash-box icon" onclick="window.open('@Environment.GetEnvironmentVariable("TenantURL").Replace("app_name", "bulkimport")' + '/#/login/')">
                            <i class="fas fa-file-import"></i>
                            <div class="text">Bulk Import</div>
                        </div>
                    </div>
                }
                <div class="col-sm-4">
                    <div class="dash-box icon" onclick="window.open('@Environment.GetEnvironmentVariable("TenantURL").Replace("app_name", "tracking")')">
                        <i class="fas fa-route"></i>
                        <div class="text">Tracker</div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <!-- All apps for internal users (clientInternal = true) in original order -->
            <!-- First row -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="dash-box icon" onclick="window.open('@Environment.GetEnvironmentVariable("TenantURL").Replace("app_name", "accounts")')">
                        <i class="fas fa-street-view"></i>
                        <div class="text">Accounts</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="dash-box icon" onclick="window.open('@Environment.GetEnvironmentVariable("TenantURL").Replace("app_name", "adminmanager")')">
                        <i class="fas fa-cogs"></i>
                        <div class="text">Admin Manager</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="dash-box icon" onclick="window.open('@Environment.GetEnvironmentVariable("TenantURL").Replace("app_name", "booking")' + '/#/login/')">
                        <i class="fas fa-atlas"></i>
                        <div class="text">Booking Page</div>
                    </div>
                </div>
            </div>

            <!-- Second row -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="dash-box icon" onclick="window.open('@Environment.GetEnvironmentVariable("TenantURL").Replace("app_name", "bulkimport")' + '/#/login/')">
                        <i class="fas fa-file-import"></i>
                        <div class="text">Bulk Import</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="dash-box icon" onclick="window.open('@Environment.GetEnvironmentVariable("TenantURL").Replace("app_name", "clientmanager")')">
                        <i class="fas fa-user-plus"></i>
                        <div class="text">Client Manager</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="dash-box icon" onclick="window.open('@Environment.GetEnvironmentVariable("TenantURL").Replace("app_name", "despatch")')">
                        <i class="fas fa-window-maximize"></i>
                        <div class="text">Dispatch</div>
                    </div>
                </div>
            </div>

            <!-- Third row -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="dash-box icon" onclick="window.open('@Environment.GetEnvironmentVariable("TenantURL").Replace("app_name", "couriermanager")')">
                        <i class="fas fa-dolly"></i>
                        <div class="text">Courier Manager</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="dash-box icon" onclick="window.open('@Environment.GetEnvironmentVariable("TenantURL").Replace("app_name", "courierportal")')">
                        <i class="fas fa-hamsa"></i>
                        <div class="text">Courier Portal</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="dash-box icon" onclick="window.open('@Environment.GetEnvironmentVariable("TenantURL").Replace("app_name", "tracking")')">
                        <i class="fas fa-route"></i>
                        <div class="text">Tracker</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>